.socialBar {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 2rem auto;
  padding: 0rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  button {
    display: inline-block;

    filter: saturate(10%);
    svg {
      height: 27px;
      width: 30px;
    }
  }
}
