.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 2rem;
  border: 1px solid $blue;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  svg {
    color: white;
  }
}
.wrapperGoto {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  &__goto {
    font-size: 2rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    height: 48px;
    svg {
      color: $blue;
      position: relative;
      top: -2px;
      left: -2px;
    }
  }
}
