.mainList {
  max-width: 1300px;
  margin: 3rem auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-main);
  position: relative;

  li {
    font-size: 80px;
    margin: 0.5rem 0;
    position: relative;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
    img {
      margin-top: 1rem;
    }
    &.active {
      background: rgba(255, 255, 255);
      width: 100%;
    }
    span {
      display: block;
      background: transparent;
      transition: all 0.3s ease-in-out;
      padding: 0 1rem 0 0.5rem;
      border-bottom: 1px dashed transparent;
      padding-bottom: 0;
      &:hover {
        padding-bottom: 1rem;
        border-bottom: 1px dashed rgb(195, 66, 66);
      }
    }
  }
}
.mainListNavigation {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  color: rgb(169, 169, 169);
  .pageNumber {
    font-size: 2rem;
    font-weight: 700;
  }
  button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--font-main);
    text-align: center;
    width: 112px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 5px;
  }
}
