.mainList {
  max-width: 1300px;
  margin: 2rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-main);
  position: relative;
  @media #{$landscape} {
    margin: 1rem;
  }

  li {
    font-size: 80px;
    margin: 0.5rem 0;
    position: relative;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;

    @media #{$landscape} {
      font-size: 40px;
    }
    @media #{$phone} {
      font-size: 25px;
    }
    img {
      margin-top: 1rem;
      @media #{$landscape} {
        margin-top: 0rem;
      }
    }
    &.active {
      background: rgba(255, 255, 255);
    }
    span {
      display: block;
      background: transparent;
      transition: all 0.3s ease-in-out;
      padding: 0 1rem 0 0.5rem;
      border-bottom: 1px dashed transparent;
      padding-bottom: 0;
    }
  }
}
.mainListNavigation {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  color: rgb(169, 169, 169);

  .pageNumber {
    font-size: 2rem;
    font-weight: 700;
  }
  button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--font-main);
    text-align: center;
    width: 112px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 5px;
  }
}
