.blogPage {
  max-width: 1000px;
  margin: 0 auto;
  .mainImage img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
  }
  img {
    display: block;
  }
  h1 {
    font-family: var(--font-main);
    font-size: 5rem;
    text-align: center;
    background: #ffffff;
    position: relative;
    width: 80%;
    margin: -110px auto 50px auto;
  }
  p {
    font-size: 1.2rem;
    color: grey;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  .riferimenti {
    max-width: 800px;
    margin: 0 auto;
    a {
      color: black;
    }
  }
}
