.postImage {
  position: absolute;
  right: 3rem;
  width: 50%;
  z-index: -1;
  animation: fadeIn 1s forwards;
  height: 710px;
  object-fit: cover;
  object-position: left;
  top: 50%;
  transform: translateY(-50%);

  @media #{$tablet} {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
