.postImage {
  position: absolute;
  right: 3rem;
  width: 50%;
  z-index: -1;
  animation: fadeIn 1s forwards;
  height: 710px;
  object-fit: cover;
  object-position: left;
  top: 50%;
  transform: translateY(-50%);
  @media #{$laptop} {
    object-fit: contain;
  }
  @media #{$tablet} {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.BackgroundAnimation {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: 800px;
  z-index: -1;
  top: 50%;
  left: -20%;
  opacity: 0.5;
  transform: translateY(-50%);
  @media #{$laptop} {
    opacity: 0.2;
    left: -10%;
    top: 60%;
  }
  @media #{$desktop} {
    display: none;
  }
  @media #{$tablet} {
    display: none;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
