.header {
  padding: 0 1rem;

  z-index: 200;

  width: 100%;
  background-color: white;

  &__home {
    background: linear-gradient(rgb(3, 17, 33) 7%, rgb(50 92 175 / 0%) 100%);
    .mainNavBar {
      padding-bottom: 5rem;
      a {
        &:hover {
          color: white;
        }
      }
    }
    .mainNavBar__navBlock__topData {
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }
  }
  .mainNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: $size-navbar;
    font-weight: 700;
    text-transform: capitalize;

    gap: 2rem;
    padding: 2rem;
    letter-spacing: 1px;
    @media #{$desktop} {
      font-size: 13px;
    }
    &__logo {
      display: flex;
      letter-spacing: 0;
      gap: 0.5rem;
      font-size: 1.2rem;

      img {
        width: 90px;
        display: block;
        @media #{$tablet} {
          width: 90px;
          height: auto;
        }
      }
      span {
        color: #678c96;
      }
    }
    &__home {
      ul li a {
        color: white;
      }
    }
    &__inner {
      hr {
        background-color: $navyBlue;
      }
      ul li a {
        color: black;
      }
      .mainNavBar__navBlock__topData {
        color: $navyBlue;
      }
    }

    &__navBlock {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      hr {
        width: 100%;
        border: rgba(255, 255, 255, 0.262) 1px solid;
      }
      &__topData {
        text-transform: uppercase;
        @media #{$landscape} {
          display: none;
        }
      }
      &__nav {
        display: flex;
        gap: 1rem;
        position: relative;

        li a {
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          line-height: 0;
        }

        .hasSub {
          padding-bottom: 1rem;
          &:hover {
            .subNav {
              opacity: 1;

              height: auto;
              transition: opacity ease-in-out 0.3s;
              pointer-events: all;
            }
          }
        }
        .subNav {
          position: absolute;
          overflow: hidden;
          pointer-events: none;
          padding: 0.5rem;
          width: 100%;
          top: 25px;
          opacity: 0;
          transition: opacity ease-in-out 0.3s;
          background-color: rgba(0, 0, 0, 0.8);

          li {
            padding: 0.3rem 0;
            cursor: pointer;
            &:hover {
              a {
                text-decoration: underline;
              }
            }
            a {
              white-space: nowrap;
              padding-left: 1rem;
              color: white;
              font-size: 1rem;
            }
          }
        }
        a {
          text-decoration: none;

          font-weight: 700;
          letter-spacing: 1px;
          &:hover {
            color: $navyBlue;
          }
        }
        @media #{$landscape} {
          display: none;
        }
      }
    }
  }
  .burger {
    font-size: 1.5rem;
    color: $blue;
    cursor: pointer;
    &__inner {
      color: $navyBlue;
    }
    @media #{$landscape} {
      display: block;
    }
  }
  .navMobile {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    background-color: white;
    width: 360px;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &__logo {
      width: 50px;
      height: auto;
    }
    h2 {
      color: black;
      margin: 1rem 0 0 0;
      font-size: 1.5rem;
    }
    p {
      color: black;
      text-transform: none;
      font-size: 1rem;
      padding: 0 1rem;
      margin: 0;
      text-align: center;
    }
    li {
      a {
        font-weight: normal;
        text-decoration: none;
        color: $blue;
      }
    }
    .hasSub {
      &:hover {
        .subNav {
          opacity: 1;
          height: auto;
          padding: 1rem;
        }
      }
    }
    &__close {
      color: $blue;
      margin-bottom: 1rem;
    }
    .subNav {
      overflow: hidden;
      height: 0;
      opacity: 0;
      margin: 0;

      li {
        padding: 0;

        cursor: pointer;
        a {
          white-space: nowrap;
          padding-left: 1rem;
          color: white;
          font-weight: normal;
          font-size: 1.1rem;
        }
      }
    }
    ul {
      margin: 1rem 0;
      text-align: center;
      li {
        margin: 1rem 0;
      }
    }
    &__generic {
      font-size: 1rem;
      padding: 1rem;
      text-align: center;
      text-transform: none;

      p {
        margin: 1rem 0 0 0;
      }
    }
    a {
      color: white;
      text-decoration: underline;
    }
    .activeLink {
      background-color: $navyBlue;
      padding: 0rem 1rem 0.2rem 1rem;
    }
  }
  .activeLink {
    border-bottom: 1px solid $navyBlue;
  }
}

@keyframes fromTop {
  from {
    top: -170px;
  }
  to {
    top: 0;
  }
}
