.wrapperCookie {
  position: fixed;
  background-color: rgb(208, 208, 208);
  width: 100%;
  max-width: 440px;
  bottom: 2rem;
  z-index: 1000;
  padding: 2rem;
  color: rgb(0, 0, 0);
  animation: slideIn 1s;
  p {
    font-size: 1rem;
    color: rgb(55, 55, 55);
    font-family: var(--font-paragraph);
  }
  h2 {
    text-transform: uppercase;
  }
  button {
    background-color: $navyBlue;
    color: rgb(255, 255, 255);
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  }
  a {
    color: rgb(0, 0, 0);
  }
}

@keyframes slideIn {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
